.application-fill           { fill: deeppink; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

#calibrateButton #text {
  text-buffer: "Calibrate";
}

#startButton #text {
  text-buffer: "Start";
}

text{
  fill:deeppink;
}


.big{
  font-size: 54;
}
.small{
  font-size: 32;
}
#title {
  font-size: 32;
  text-buffer:"   LAUNCH TEST   ";
}
