.application-fill           { fill: white; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

#calibrateButton #text {
  text-buffer: "Calibrate";
}

#startButton #text {
  text-buffer: "Start";
}

.big{
  font-size: 54;
  fill:white;
}
.small{
  font-size: 32;
  fill:white;
}
#title {
  fill:white;
  font-size: 32;
  text-buffer:"   LAUNCH TEST   ";
}
