.application-fill           { fill: deeppink; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

#calibrateButton #text {
  text-buffer: "Calibrate";
}

#startButton #text {
  text-buffer: "Start";
}

#title {
  fill:deeppink;
  font-size: 28;
  text-buffer:"_____ LAUNCH trigger ____";
}